<section>
  <h2>Template Formular</h2>
  <hr />
</section>
<form class="p-4">
  <fieldset>
    <legend>Registrierung</legend>
    <div class="mb-3">
      <label for="acc" class="form-label">Account</label>
      <input
        type="text"
        class="form-control"
        id="acc"
        name="acc"
        required
        minlength="3"
        placeholder="Gewünschter Account"
      />
      <div class="invalid-feedback">
        Wenigstens drei Zeichen müssen es bitte sein.
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Email-Adresse"
      />
      <div class="invalid-feedback">Ungültige Email-Adresse</div>
      <small id="emailHelp" class="d-block mt-1 text-muted"
        >Deine Email-Adresse bleibt bei uns, wir teilen sie niemals.</small
      >
    </div>
    <div class="mb-3">
      <label for="pw1" class="form-label">Passwort</label>
      <input
        type="password"
        class="form-control"
        id="pw1"
        name="password"
        required
        minlength="8"
        placeholder="Passwort"
      />
    </div>
    <div class="mb-3">
      <label for="pw2" class="form-label">Passwort (Wiederholung)</label>
      <input
        type="password"
        class="form-control"
        id="pw2"
        name="password-repeated"
        placeholder="Passwort (Wiederholung)"
      />
      <div class="invalid-feedback">Passwörter stimmen nicht überein.</div>
    </div>
    <div class="mb-3">
      <label for="plz" class="form-label">PLZ</label>
      <input
        type="text"
        pattern="\d{5}"
        class="form-control"
        id="plz"
        name="zip"
        placeholder="Deine Postleitzahl"
      />
      <div class="invalid-feedback">Bitte eine korrekte PLZ angeben.</div>
    </div>
    <div class="mb-3">
      <label for="framework">Lieblings SPA-Framework</label>
      <select
        class="form-select mt-2"
        id="framework"
        name="framework-id"
        required
      >
        <option selected disabled value="">Bitte wählen ...</option>
        <option *ngFor="let fw of frameworks$ | async" [value]="fw.id">
          {{ fw.name }}
        </option>
      </select>
      <div class="invalid-feedback">Bitte ein Framework auswählen.</div>
    </div>
    <div class="actions d-flex justify-content-end pt-2">
      <button type="submit" class="btn btn-primary">Absenden</button>
    </div>
  </fieldset>
</form>
