<div class="bg-light shadow-sm rounded p-4">
  <h1 class="display-4">Angular Forms</h1>
  <p class="lead">
    Welche Unterstützung gibt uns das Framework beim Einsatz von
    HTML-Formularen?
  </p>
  <hr class="my-4" />
  <p>
    Angular bietet uns zwei Techniken/Module zur Behandlung von Formularen. Das
    Beispiel-Projekt demonstriert in beiden Techniken Aspekte wie Datenübergabe
    und -übernahme, Validierung (eingebaute Validatoren bis hin zu eigenen
    Validatoren mit Remote-Daten) und schließlich der Darstellung des
    Validierungs-Status.
  </p>
  <div class="d-flex justify-content-around pt-3">
    <a class="btn btn-primary btn-lg" routerLink="template" role="button"
      >Template Driven Forms</a
    >
    <a class="btn btn-primary btn-lg" routerLink="reactive" role="button"
      >Reactive Forms</a
    >
  </div>
</div>
